<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Azeroth Dock</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <section class="layout">
        <nav class="sidebar">
            <div id="logo">
                <i class="fa-brands fa-docker">
                </i> <h5>Azeroth Dock</h5>
            </div>
            <div id="sidebar-nav">
                <ul>
                    <li>
                        <div id="sidebar-icon">
                            </i><a href="/"><i class="fa-solid fa-chart-line"> </i>Dashboard</a>
                        </div>
                    </li>
                    <li>
                        <div id="sidebar-icon">
                            </i><a href="/"><i class="fa-solid fa-layer-group"> </i>Stacks</a>
                        </div>
                    </li>
                    <li>
                        <div id="sidebar-icon">
                            <a href="/containers"><i class="fa-solid fa-box-open"> </i>Containers</a>
                        </div>
                    </li>
                    <li>
                        <div id="sidebar-icon">
                            </i><a href="/"><i class="fa-solid fa-images"> </i>Images</a>
                        </div>
                    </li>
                    <li>
                        <div id="sidebar-icon">
                            </i><a href="/"><i class="fa-solid fa-network-wired"> </i>Networks</a>
                        </div>
                    </li>
                    <li>
                        <div id="sidebar-icon">
                        </i><a href="/"><i class="fa-solid fa-database"> </i>Volumes</a>
                        </div>
                    </li>
                    <li>
                        <div id="sidebar-icon">
                            </i><a href="/"><i class="fa-solid fa-user-secret"> </i>Secrets</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="body">
            <h1>Dashboard</h1>
            <div class="flex-dashboard">
                <div class="dash-item">
                    <h5><span>N/A</span>Stacks</h5>
                </div>
                <div class="dash-item">
                    <h5><span>N/A</span>Services</h5>
                </div>
                <div id="dash-containers" class="dash-item">
                    <h5><span>{{containers}}</span>Containers</h5>
                    <p><span id="containers-running">Running {{ containers_running }}</span></p>
                </div>
                <div class="dash-item">
                    <h5><span>{{ images }}</span>Images</h5>
                </div>
                <div class="dash-item">
                    <h5><span>N/A</span>Volumes</h5>
                </div>
                <div class="dash-item">
                    <h5><span>N/A</span>Networks</h5>
                </div>
            </div>
            <div class="dash-specs">
                <p><i class="fa-solid fa-desktop"></i>{{ operating_system }}</p>
                <p><i class="fa-solid fa-microchip"></i>{{ ncpu }}</p>
                <p><i class="fa-solid fa-memory"></i>{{ memory }}</p>
            </div>
        </div>
    </section>
</body>
</html>
